/* sass/_fonts.scss */
@font-face {
  font-family: "Nebula Sans";
  src: url("/fonts/NebulaSans/NebulaSans-Medium.woff2") format("woff2"),
       url("/fonts/NebulaSans/NebulaSans-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nebula Sans";
  src: url("/fonts/NebulaSans/NebulaSans-Bold.woff2") format("woff2"),
       url("/fonts/NebulaSans/NebulaSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* Add more faces (italic, weights) the same way if you have them */


/* sass/_fonts.scss */
@font-face {
  font-family: "Geomanist";
  src: url("/fonts/Geomanist/geomanist-regular-webfont.woff2") format("woff2"),
       url("/fonts/Geomanist/geomanist-regular-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geomanist";
  src: url("/fonts/Geomanist/geomanist-bold-webfont.woff2") format("woff2"),
       url("/fonts/Geomanist/geomanist-bold-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* Add more faces (italic, weights) the same way if you have them */

h1 {
    font-family: Geomanist, sans-serif;
}