---
layout: layouts/base.njk
permalink: "/about/"
eleventyNavigation:
  key: About
  order: 2
eleventyComputed:
  title: "{{ aboutPage.title }}"
  description: "{{ aboutPage.description }}"
---

<h1>About</h1>

{{ aboutPage.content | safe }}