---
layout: layouts/post.njk
pagination:
  data: contentfulPages
  size: 1
  alias: page
permalink: "/{{ page.slug }}/"
eleventyComputed:
  title: "{{ page.title }}"
  description: "{{ page.description }}"
---

{{ page.content | safe }}