---
layout: layouts/post.njk
pagination:
  data: contentfulPosts
  size: 1
  alias: post
permalink: "/contentful-posts/{{ post.slug }}/"
eleventyComputed:
  title: "{{ post.title }}"
  description: "{{ post.description }}"
---

{{ post.content | safe }}