--- 
layout: layouts/base.njk
title: All tags
permalink: /tags/
---

{% set map = collections.postsByTag or {} %}

<h1>All tags</h1>

<ul class="taglist">
{% for t in collections.tagList %}
  {% set count = (map[t] or []).length %}
  <li>
    <a href="/tags/{{ t | slug }}/">{{ t }}</a> ({{ count }})
  </li>
{% endfor %}
</ul>
