---
layout: layouts/base.njk
pagination:
  data: collections.tagList
  size: 1
  alias: tag
permalink: /tags/{{ tag | slug }}/
eleventyComputed:
  title: Tagged “{{ tag }}”
---

{% set tagged = (collections.postsByTag or {})[tag] or [] %}

<h1>Tagged “{{ tag }}”</h1>

{% if tagged.length %}
  <ul class="postlist">
  {%- for item in tagged -%}
    <li class="postlist-item">
      <time class="postlist-date" datetime="{{ item.date | htmlDateString }}">{{ item.date | readableDate }}</time>
      <a class="postlist-link" href="{{ item.url | url }}">{{ item.data.title }}</a>
    </li>
  {%- endfor -%}
  </ul>
{% else %}
  <p>No posts found for this tag.</p>
{% endif %}

<p><a href="/tags/">All tags</a></p>
