---
layout: layouts/base.njk
title: Tags
permalink: /tags/
---

<h1>Tags</h1>

<ul>
{%- for tag in collections.tagList -%}
  <li>
    <a href="/tags/{{ tag | slug }}/">{{ tag }}</a>
    <small>({{ collections[tag] | length }})</small>
  </li>
{%- endfor -%}
</ul>
