<ul class="postlist">
{%- for post in postslist -%}
  <li class="postlist-item">
    <a href="{{ post.url | url }}" class="postlist-link">{{ post.data.title }}</a>
    <time class="postlist-date" datetime="{{ post.data.date | htmlDateString }}">
      {{ post.data.date | readableDate }}
    </time>
  </li>
{%- endfor -%}
</ul>
